
.dropdown {
    position: relative;
    left: 50%;
    display: block;


  }

  .dropbtn {
    background-color: #28b11c;
    color: #970303;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #575374;

    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #1f10a3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }





/*.dropdown {
    position: absolute;
    display: inline-block;
    justify-content: center;
  }

  .dropbtn {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #ddb1b1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

 /* .dropdown-content {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    display: block;
  }*/

 /* .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }*/
